.exp-section{
    padding-bottom: 100px;
    height: 100%;
    width:100%;
}

.exp-disable{
    visibility: hidden;
}

/* .company-name-container{
 display: inline-table;
 margin-left: 50%;
 transform: translateX(-50%); 
 padding-top: 8%;
}

.companyName{
    font-family: var(--font-heading);
    font-size: 100px;
    text-decoration: none;
    color: black;
} */

.responsibilities-table{
    float: left;
    font-family: var(--font-content);
    border-radius: 10%;
    color: black;
    font-weight: 100;
    font-size: 1.3rem;
    width: 40%;
    height: 50%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.technologies-data-container{
    width: 40%;
    margin-left: 2%;
}

.tech-container-outline{
    display: inline-block;
}

.each-tech{
    font-family: var(--font-content);
    font-size: 1.2rem;
    margin-right: 15px;
    margin-top: 15px;
    height: 30px;
    width: 80px;
}

.work-exp-heading{
    text-decoration: underline;
}
/* .technologies-data-container{
    font-family: var(--font-content);
    font-weight: 300;
    font-size: 1.2rem;
    width: 35%;
    height: 50%;
    margin-left: 58%;
    margin-top: 15%;
}

.tech-container-outline{

    margin: 2%;
    width: 20%;
    display: inline-block;
    text-align: center;
} */

/* 
.responsibilities-and-technologies-table{
    margin-top: 10%;
    margin-left: 3%;
    display: inline-block;
    width: 100%;
}

.responsibilities-data-container{
    .key-point{
        font-family: var(--font-content);
        font-size: 20px;
        font-weight: 200;
    }
}

.technologies-data-container{
    margin-left: 10%;
    transform: translateY(-100%) ;
}

.key-point-content{
    margin-top: 0px;
}

.technologies-data-container{
    width: 60%;
}

.tech-container-outline{
    display: inline-block;
    width:100px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    border-radius: 40%;
}

.int-container-bg{
    background-color: rgba(10, 133, 67, 0.141);
}

.eso-container-bg{
    background-color: rgba(10, 20, 133, 0.141);
}

.inf-container-bg{
    background-color: rgba(133, 57, 10, 0.141);
} */