:root{
    --yellow : #F8DE7E;
    --brown: #4E211F;
    --brown-light: #914F3B;
    --font-heading: 'UltraSolar Normal', sans-serif;
    --font-content: 'Fahkwang', sans-serif;
    --intuit-bg: rgba(10, 133, 67, 0.723);
    --esorus-bg: rgba(255, 193, 7, 0.857);
    --infosys-bg: rgba(58, 209, 235, 0.829);
}

::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }

.full-page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-container{
    top: 10vh;
    z-index:1;
    position: absolute;
    /* height: 100vh; */
    height: 85vh;
    width:100vw;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.about-section{
    height: 100%;
    width:100%;
}

.nav-items{
    position: fixed;
    font-family: var(--font-content);
    letter-spacing: 2px;
    display: inline-block;
    z-index: 2;
    /* cursor: pointer; */
    /* background-color: rgba(0, 0, 0, 0.364); */
    color: black;
}

.dot{
    font-size: 25px;
}

/* .nav-items:hover{
    text-decoration: underline;
} */

.selected-nav{
    text-decoration: underline;
}

.nav-bar-container{
    z-index: 2;
}

.item-2{
    left:2%;
}

.item-3{
    left:9.5%;
}

.item-4{
    left:20%;
}
/* 
.item-4{
    left:27%;
} */

.heading{
    font-family: var(--font-heading);
    font-size: 85px; 
}

.content-container{
  .heading{
    margin-bottom: 0px;
  }
}

/* .about-heading{
   font-size: 85px; 
   margin-bottom: 0px;
} */

.name-container{
    margin-top: 15%;
    margin-left: 10%;
}

.about-content-container{
    font-family: var(--font-content);
    font-size: 25px;
    font-weight: 200;
    margin-left: 35%;
    height: 40%;
    width: 60%;
}

.about-disable{
    visibility: hidden;
}