.work-section{
    height: 100%;
    width:100%;
    padding-bottom: 100px;
}

.work-disable{
    visibility: hidden;
}

.heading-container{
    display: block;
    height: 50%;
    .heading{
        font-size: 180px;
        padding-top: 8%;
        text-align: center;
    }
}

.work-nav-container{
    width: 100%;
}

.work-nav-items-container{
    margin-left: 25%;
    display: inline;
}

.work-nav-item{
    font-family: var(--font-content);
    display: inline-block;
    margin-right: 10%;
    font-size: 40px;
    font-weight: 200;
    margin-top: 3%;
}

.esorus-nav{
    margin-right: 9%;
}

/* .work-nav-item:hover{
    cursor: pointer;
    font-size: 45px;
    font-weight: 300;
} */
